 .farrellCompanyHeaderF {
  position: relative;
  top: -0.3em;
  text-transform: uppercase;
  font-weight:lighter;
  font-family: "Helvetica";
}
.farrellCompanyHeaderF span {
  position: relative;
  font-size: 3vh;
  color: #000;
}
.farrellCompanyHeaderF2 {
    background-color:black;
}         
#footer {
  margin-top: -25em;
  width: 80%;
  color: #808080;
}
#footer p span {

  float: right;
}